/* style.css */

.content {
  border: 2px solid gray;
  color: black;
}

a {
  color: #3B5998;
}

a:link {
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

body {
  font-size: 11px;
  color: #333333;
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}

h2 {
  background-color: #EDEFF4;
  border-bottom: 2px solid gray;
  color: #1C2A47;
  font-size: 16px;
  margin: 0px;
  padding:10px;
  text-align: center;
}


h3 {
  color: #666
  font-size: 14px;
}

img {
  border: 1px solid gray;
}

img:hover {
  border: 1px solid #3B5998;
}

li {
  padding: 0px;
}

p {
  color: #333333;
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  font-size: 11px;
}

table {
  margin-left:auto;
  margin-right:auto;
}

ul {
  list-style-type: none;
  padding: 0px;
}

